<section>
<% oneBook.forEach( book => { %>
    <div class="books">
    <form >
    <div id="images"><img src=" <%= book.image_url %>" /></div> 
      <div id="title">  <h2><%= book.title %> </h2> </div>
      <div id="authors"> <h4><%= book.authors %></h4> </div>
      <div id="description"> 
      <p> <%= book.description %> </p>
    </div>
      <div id="isbn"> <h4><%= book.isbn %></h4> </div>
      <div id="bookshelf"> <h4><%= book.bookshelf %></h4> </div>
      
    <input type="hidden" name="title" value="<%= book.title %>" />
    <input type="hidden" name="authors" value="<%= book.authors %>" />
    <input type="hidden" name="isbn" value="<%= book.isbn %>" />
      <input type="hidden" name="image_url" value="<%= book.image_url %>" />
      <input type="hidden" name="description" value="<%= book.description %>" />
      <button type="submit" name="select">this is the views</button>
    </form>

  
  </div> 
  <% }) %>
</section>