<section>
  <% books.forEach( book => { %>
      <div class="books">
      <form action="/updateBook" method="POST">
      <div id="images"><img src=" <%= book.image_url %>" /></div> 
        <div id="title">  <h2><%= book.title %> </h2> </div>
        <div id="authors"> <h4><%= book.authors %></h4> </div>
        <div id="description"> 
        <p> <%= book.description %> </p>
      </div>
        <div id="isbn"> <h4><%= book.isbn %></h4> </div>
        <div id="addbookshelf"> <h4><%= book.bookshelf %></h4> </div>
        
      <input type="hidden" name="title" value="<%= book.title %>" />
      <input type="hidden" name="authors" value="<%= book.authors %>" />
      <input type="hidden" name="isbn" value="<%= book.isbn %>" />
        <input type="hidden" name="image_url" value="<%= book.image_url %>" />
        <input type="hidden" name="description" value="<%= book.description %>" />
        <a href="/updateBook"> <button type="submit" name="select">UPDATE DETAILS</button> </a>
        <button type="submit" name="select">DELETE BOOK</button>
      </form>
  
    
    </div> 
    <% }) %>
  </section>