<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
 
    <% selected.forEach( select => { %>
      
       <div class="books">
        <form action="/books" method="post">
        <div id="images"> <%= select.image_url %></div> 
         <div id="title">  <h2><%= select.title %> </h2> </div>
         <div id="authors"> <h4><%= select.authors %></h4> </div>
         <div id="isbn"> <h4><%= select.isbn %></h4> </div>
         <div id="description"> 
          <p> <%= select.description %> </p>
        </div>
        <div id="bookshelf"> <input id="search" type="text" name="bookshelf" placeholder="Enter a bookshelf" required></div> 
       
        <input type="hidden" name="title" value="<%= select.title %>" />
        <input type="hidden" name="authors" value="<%= select.authors %>" />
        <input type="hidden" name="isbn" value="<%= select.isbn %>" />
         <input type="hidden" name="image_url" value="<%= select.image_url %>" />
          <input type="hidden" name="description" value="<%= select.description %>" />
          <button type="submit" name="select">Add to Database</button>
        </form>
      </div> 
      <% }) %>
    
  </section>
  
</body>
</html>