<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head.ejs') %>
</head>
<body>
  
  <section class="sec">
  <div class="header1"> BEST BOOKS</div>
  <div class="header2">SEARCH RESULTS</div>
  

 <% books.forEach( book => { %>
 
   <div class="books">
    <form action="/add" method="post">
    <div id="images"><img src=" <%= book.image_url %>" /></div> 
     <div id="title">  <h2><%= book.title %> </h2> </div>
     <div id="authors"> <h4><%= book.authors %></h4> </div>
     <div id="isbn"> <h4><%= book.isbn %></h4> </div>
     <div id="description"> 
      <p> <%= book.description %> </p>
    </div>
   
    <input type="hidden" name="title" value="<%= book.title %>" />
    <input type="hidden" name="authors" value="<%= book.authors %>" />
    <input type="hidden" name="isbn" value="<%= book.isbn %>" />
     <input type="hidden" name="image_url" value="<%= book.image_url %>" />
      <input type="hidden" name="description" value="<%= book.description %>" />
      <button id="searchbutton" type="submit" name="select">Select This Book</button>
    </form>

  
  </div> 
 <% }) %>
</section>

<%- include('../../layout/footer.ejs') %>
</body>
</html>